.about header {
  background-color: #f9f9f9; }
  .about header .navbar-light {
    background-color: #f8B83d; }
    .about header .navbar-light .navbar-collapse .nav-item a.nav-link {
      color: white; }
      .about header .navbar-light .navbar-collapse .nav-item a.nav-link:hover, .about header .navbar-light .navbar-collapse .nav-item a.nav-link:active, .about header .navbar-light .navbar-collapse .nav-item a.nav-link:focus, .about header .navbar-light .navbar-collapse .nav-item a.nav-link.active {
        color: white;
        border-bottom: 1px solid white; }
  .about header .jumbotron {
    background-color: white;
    color: black; }
    .about header .jumbotron .rich-text {
      font-size: 1.8em;
      margin: 0 auto;
      max-width: 700px;
      padding: 2rem;
      text-align: center; }
      @media (max-width: 768px) {
        .about header .jumbotron .rich-text {
          padding: 0; } }

.about .content {
  margin-top: 0; }
  .about .content .activities,
  .about .content .faq {
    margin-top: 60px; }
  .about .content .nav {
    background-color: #eee; }
    .about .content .nav .nav-link {
      color: black; }
      .about .content .nav .nav-link:active {
        color: #f8B83d;
        font-weight: bold; }
  .about .content .body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/static/img/alex-wong.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    font-size: 1.2em; }
    .about .content .body .well {
      background-color: white;
      margin: 40px auto;
      max-width: 770px;
      padding: 2rem; }
      @media (max-width: 768px) {
        .about .content .body .well {
          max-width: 90%;
          font-size: .9em; } }
  .about .content .info {
    margin: 40px auto;
    max-width: 810px;
    padding: 2rem; }
    @media (min-width: 575px) {
      .about .content .info h4 {
        overflow: hidden;
        white-space: nowrap; }
        .about .content .info h4:after {
          content: " / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / ";
          color: #f8B83d; } }
  .about .content .roles {
    background: #f8B83d;
    background: linear-gradient(#f8B83d, #fad680);
    padding: 2rem; }
    .about .content .roles h4 {
      padding-left: 16px;
      color: white; }
    .about .content .roles nav {
      background-color: inherit;
      margin-bottom: 20px; }
      .about .content .roles nav .nav-link {
        color: black;
        opacity: 0.4;
        font-weight: bold; }
        .about .content .roles nav .nav-link.active {
          opacity: 1;
          color: white;
          border-bottom: 1px solid white; }
    .about .content .roles .well {
      background-color: white;
      padding: 2em; }
      .about .content .roles .well .nav-content {
        display: none; }
        .about .content .roles .well .nav-content.active {
          display: block; }
  .about .content .activities {
    min-height: 200px; }
  .about .content .bottom-cta {
    padding: 2em;
    background: #f8B83d;
    background: linear-gradient(to left, #f8B83d, #fad680);
    text-align: center; }
    .about .content .bottom-cta .col-md-4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media (max-width: 768px) {
        .about .content .bottom-cta .col-md-4:first-child .btn {
          margin-bottom: 20px; } }
    .about .content .bottom-cta p {
      color: white; }
    .about .content .bottom-cta .btn {
      background-color: white;
      border: none;
      color: black;
      text-transform: uppercase;
      width: 250px; }
