:root {
    --border-color: #ffed00;
    --gradient-color: #fad680;
    --input-bg-color: #c99723;
    --primary-color: #f8b83e;
}

a {
    color: black;

    &.cta {
        text-decoration: underline;
        font-weight: bold;
    }

    &:hover {
        color: var(--primary-color);
        text-decoration: none;

        &.cta {
            text-decoration: underline;
        }
    }
}

header {
    background: var(--primary-color);
    background: linear-gradient(to top right, var(--primary-color), var(--gradient-color));

    .lead {

        .btn {
            border: 1px solid var(--border-color);
        }
    }
}

.content {

    .profile-listing {
        border-top: 3px solid var(--primary-color);
        margin-bottom: 40px;
        width: 340px;

        @media (max-width: 768px) {
            margin-bottom: 10px;
            width: 100%;
        }

        .avatar {
            float: left;
            height: 140px;
            margin: 0;
            overflow: hidden;

            img {
                max-width: 140px;
            }
        }

        .profile-details {
            float: left;
            line-height: 1.6;

            .profile-title {
                color: var(--primary-color);
                font-size: .9em;
            }
        }
    }

    .info-box {
        border: 1px dashed lightgray;
        margin: 0 10px 0 0;
        padding: 15px 0;
    }

    .club-interests {
        bottom: 0;
        position: absolute;

        @media (max-width: 768px) {
            margin: 10px 0;
            position: relative;
        }

        span {
            background-color: var(--primary-color);
            color: white;
            display: inline-block;
            font-weight: bold;
            padding: 3px 10px;
        }
    }
}
