:root {
    --border-color: #ffed00;
    --gradient-color: #fad680;
    --input-bg-color: #c99723;
    --primary-color: #f8b83e;

    .inverted {
        --body-bg-color: #f9f9f9;
    }
}

a {
    color: black;

    &.cta {
        text-decoration: underline;
        font-weight: bold;
    }

    &:hover {
        color: var(--primary-color);
        text-decoration: none;

        &.cta {
            text-decoration: underline;
        }
    }
}

header {
    background: var(--primary-color);
    background: linear-gradient(to top right, var(--primary-color), var(--gradient-color));

    img.sticky {
        display: none;
    }

    .navbar-light {

        .navbar-brand {
            width: 0;

            img {
                height: 50px;
                width: 155px;
            }
        }
    }

    &.white-header {
        background: white;

        --nav-link-color: white;

        .navbar-light {
            background-color: var(--primary-color);
        }

        .jumbotron {
            color: black;

            .row {
                align-items: flex-start;
            }

            h3 {
                color: black;
            }
        }
    }

    .lead {

        .btn {
            border: 1px solid var(--border-color);
        }
    }
}

.profile-listing {
    border-top: 4px solid var(--primary-color);
    margin-bottom: 20px;
    width: 350px;
    height: 150px;
    position: relative;

    @media (max-width: 768px) {
        max-width: 100%;
    }

    .avatar {
        float: left;
        height: 140px;
        margin: 0;
        overflow: hidden;
        width: 140px;

        img {
            max-width: 140px;
        }
    }

    .profile-details {
        float: left;
        line-height: 1.6;
        font-family: OpenSans;

        .profile-title {
            color: var(--primary-color);
            font-size: .9em;
        }
    }

    .github {
        position: absolute;
        bottom: 5px;
        left: calc(140px + 1rem);

        a {
            font-style: italic;
            vertical-align: middle;
        }
    }
}

.inverted {

    .card {
        background-color: white;
        box-shadow: 7px 7px 0 0 rgba(0, 0, 0, 0.1);

        .card-header {
            background-color: white;
            color: var(--primary-color);

            a {
                color: var(--primary-color);

                &:hover {
                    color: dimgray;

                    svg > g {
                        fill: dimgray;
                    }
                }
            }

            svg > g {
                fill: var(--primary-color);
            }
        }
    }
}
