@import 'colors';

.entity {

    header {
        background-color: #f9f9f9;

        .navbar-light {
            background-color: $clubs-primary;

            .navbar-collapse {

                .nav-item {

                    a.nav-link {
                        color: white;

                        &:hover,
                        &:active,
                        &:focus,
                        &.active {
                            color: white;
                            border-bottom: 1px solid white;
                        }
                    }
                }
            }
        }

        .jumbotron {
            color: black;

            h3 {
                color: black;
            }
        }
    }
}
