header.white-header {

    .jumbotron {
        background-attachment: fixed;
        background-color: var(--card-text-color);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 95px 135px;

        @media (max-width: 768px) {
            padding: 40px;
        }

        h3 {
            color: white;
        }
    }
}

.content {

    .details {
        background-color: var(--card-bg-color);
        box-shadow: 7px 7px 0 0 var(--card-shadow-color);
        padding: 30px;

        .tags {
            min-height: 100px;

            div {
                bottom: 0;
                left: 15px;
                position: absolute;

                @media (max-width: 992px) {
                    left: auto;
                    position: relative;
                }

                a {
                    margin-bottom: 0.3rem;
                }
            }
        }

        .rich-text {
            color: dimgray;
        }
    }

    .discourse-link {
        background-color: black;
        bottom: 0;
        color: white;
        position: absolute;
        width: 350px;

        @media (max-width: 768px) {
            max-width: 100%;
            position: relative;
        }
    }
}
