# seriously get out of here
.DS_Store
.coverage

# python files
*.pyc
*.pyo

# mezzanine database
*.db

# the virtual environment directory
mezzanine

# machine-local settings
local_settings.py

# static and pycache are transient fs entries
/static
**/__pycache__
/.vscode
/node_modules
