SECRET_KEY = 'secret_key'
# Site settings
SITE_URL = http://127.0.0.1:8000
ALLOWED_HOSTS = 127.0.0.1
# Assuming user coss with password coss and db name db_1
DATABASE_URL = 'postgres://coss_user:coss_password@coss_db/coss_db'
# Debug flag
DEBUG = True
DEV = True
# Cache
CACHE_BACKEND = 'django.core.cache.backends.memcached.MemcachedCache'
CACHE_URL = 'coss_memcache:11211'
# Django-compressor
COMPRESS_ENABLED=False
COMPRESS_OFFLINE=False
