.activate header .navbar-light {
  background-color: #3F4B73; }
  .activate header .navbar-light .navbar-brand {
    padding-top: 30px; }
    @media (max-width: 992px) {
      .activate header .navbar-light .navbar-brand {
        padding-top: inherit; } }
    .activate header .navbar-light .navbar-brand img {
      width: 120px; }

.activate header .jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/static/img/top-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0; }
  .activate header .jumbotron .rich-text {
    color: white;
    text-align: center;
    font-size: 1.2em; }
