{% load static wagtailuserbar %}
{% load compress wagtailcore_tags coss_tags %}

<!DOCTYPE html>
<html id="root-node-{{ self.get_site.root_page.title }}">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="EC15_VrYwUHPZ4kIxgTjJL4ARJoXu0fz3L5h62lGpH8">

    {% compress js %}
      <script type="text/javascript" src="{% static 'lib/dnt-helper/js/dnt-helper.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/google-analytics.js' %}"></script>
    {% endcompress %}

    {% block open_graph_meta %}
      <meta property="og:url" content="{{ self.full_url }}">
      <meta property="og:title" content="{{ self.title }}">
      <meta property="og:image" content="{% absolutify_static '/img/mozilla.jpg' %}">
    {% endblock %}

    <title>
      {% block title %}
        {% if self.seo_title %}
          {{ self.seo_title }}
        {% else %}
          {{ self.title }}
        {% endif %}
      {% endblock %}
      {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
          {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
      {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    {% compress css %}
      {# Global stylesheets #}
      <link rel="stylesheet" type="text/css" href="{% static 'lib/mofo-bootstrap/dest/css/mofo-bootstrap.css' %}">
      <link rel="stylesheet" type="text/scss" href="{% static 'css/coss.scss' %}">

      {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
      {% endblock %}
    {% endcompress %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    <div class="page-wrap">

      <header class="{% block header_class %}{% endblock %}">
        <nav id="nav-top" class="navbar fixed-top navbar-light navbar-toggleable-md" role="navigation">
          {% get_site_root as site_root %}
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent"
                  aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% pageurl site_root %}">
            {% block brand-logo %}
              <img src="{% static 'img/mozilla.svg' %}" alt="mozilla">
            {% endblock %}
          </a>

          <div class="container-fluid">
            {% top_menu parent=site_root calling_page=self %}
          </div>
        </nav>

        <div class="clear-head"></div>
        {% block jumbotron %}{% endblock %}
      </header>

      {% block content %}{% endblock %}

    </div>

    {% block bottom_content %}{% endblock %}

    <footer>
      <div class="container text-center">
        <div class="icon-container">
          <div class="icon">
            <img class="footer-icon" src="{% static 'img/footer/github.svg' %}">
            <a href="https://github.com/mozilla/coss" target="_blank">Contribute</a>
          </div>
        </div>
        <div class="icon-container">
          <div class="icon">
            <img class="footer-icon" src="{% static 'img/footer/legal.svg' %}">
            <a href="https://www.mozilla.org/about/legal/" target="_blank">Legal</a>
          </div>
        </div>
        <div class="icon-container">
          <div class="icon">
            <img class="footer-icon" src="{% static 'img/footer/privacy.svg' %}">
            <a href="https://www.mozilla.org/privacy/" target="_blank">Privacy</a>
          </div>
        </div>
      </div>

      <div class="footer-content">
        <a class="logo" href="https://mozilla.org" target="_blank"><img src="{% static 'img/mozilla.svg' %}"></a>
        <p>
          Mozilla is a global non-profit dedicated to putting you in control of your online experience and shaping the future of the web
          for the public good. Visit us at <a href="//mozilla.org" target="_blank">mozilla.org</a>
        </p>
      </div>
    </footer>

    {% compress js %}
      {# Global javascript #}
      <script type="text/javascript" src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'lib/popper.js/dist/umd/popper.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/coss.js' %}"></script>

      {% block extra_js %}
        {# Override this in templates to add extra javascript #}
      {% endblock %}
    {% endcompress %}
  </body>
</html>
