{% extends "custombase.html" %}

{% load static %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}
    {{ page.meta_title }}
{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block extra_head %}
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/mofo-bootstrap.css" %} ">
    <link rel="stylesheet" href="{% static "css/landingpage.css" %} ">
    <link rel="stylesheet" href="{% static "css/main.compiled.css" %} ">
    <script async src="{% static "js/main.compiled.js" %}"></script>

{% endblock %}

{% block header %}
    <header class="container">
        <div class="row">
            <div class="col-1">
                <img src="{% static "img/menu.jpg" %}">
            </div>
            <div class="col-1 logo">
                <div class="row"><img src="{% static "img/logo-mozilla.svg" %}"></div>
                <div class="row"><span class="text-block text-block-500">Network</span></div>
            </div>
            <div class="col-8 header-title">
                <span class="intro">{{ page.title }}</span>
            </div>
            <div class="col-1">
                <button class="btn btn-warning">join us</button>
            </div>
    </header>
{% endblock %}

{% block title %}
    <h1 class="title">{% editable page.pagewithcallout.header %}{{ page.pagewithcallout.header }}{% endeditable %}</h1>
{% endblock %}

{% block main %}
    <div class="main-content row">
        <div class="col-sm">
            {% editable page.pagewithcallout.content %}
            {{ page.pagewithcallout.content | safe }}
            {% endeditable %}
        </div>

        <div class="col-sm">
            {% editable page.pagewithcallout.signup.header page.pagewithcallout.signup.description page.pagewithcallout.signup.newsletter %}
            <div class="call-out join-us" data-cta-header='{{page.pagewithcallout.signup.header}}' data-cta-description='{{page.pagewithcallout.signup.description}}' data-signup-newsletter='{{page.pagewithcallout.signup.newsletter}}'>
            </div>
            {% endeditable %}
        </div>
    </div>
{% endblock %}

{% block footer %}
<footer class="container">
    <ul class="icons row">
        {% for link in page.pagewithcallout.get_footer_links %}
        <li class="col nowrap"><span class="fa fa-{{ link.iconclass }}"></span><a href="{{ link.link }}">{{ link.linktext }}</a></li>
        {% endfor %}
    </ul>
    <div class="moz-notice">
        <div class="logo">
            <img src="{% static "img/logo-mozilla.svg" %}">
        </div>
        <div class="sep">
            <div class="sep"></div>
        </div>
        <div>
            Mozilla is a global non-profit dedicated to putting you in control of your online experience and shaping the future of the web for the public good. Visit us at <a href="https://mozilla.org">mozilla.org</a>.
        </div>
    </ul>
</footer>
{% endblock %}
