{% extends "home/about_page.html" %}
{% load static wagtailcore_tags wagtailimages_tags coss_tags %}

{% block open_graph_meta %}
  <meta property="og:url" content="{{ self.full_url }}">
  <meta property="og:title" content="{{ self.title }}">
  <meta property="og:image" content="{{ page.opengraph_image.url }}">
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/scss" href="{% static 'css/clubs.scss' %}">
  <link rel="stylesheet" type="text/scss" href="{% static 'css/content.scss' %}">
{% endblock %}

{% block brand-logo %}
  {% image page.logo original %}
{% endblock %}
