{% extends "opensource_clubs/category_page.html" %}
{% load static wagtailcore_tags coss_tags %}

{% block jumbotron %}
{% endblock %}

{% block extra_about %}
  <div class="activities">
    <div class="container">
      <h3>{{ page.title }}</h3>

      <div class="row">
        <div class="col-md-8">
          {{ page.description|richtext }}
        </div>
      </div>

      <div class="card-deck mt-4">
        {% for block in page.activity %}
          {% include_block block with card_size='cl-6' %}
        {% endfor %}
      </div>

    </div>
  </div>
{% endblock %}
