{% extends "home/about_page.html" %}
{% load static wagtailcore_tags %}

{% block extra_css %}
  <link rel="stylesheet" type="text/scss" href="{% static 'css/clubs.scss' %}">
  <link rel="stylesheet" type="text/scss" href="{% static 'css/about.scss' %}">
{% endblock %}

{% block brand-logo %}
  <img src="{% static 'img/clubs-white.svg' %}" alt="mozilla">
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block extra_about %}
  <div class="activities">
    <div class="container">
      <h3>{{ page.title }}</h3>

      {{ page.description|richtext }}

      <div class="card-deck">
        {% for block in page.activity %}
          {% include_block block %}
        {% endfor %}
      </div>

    </div>
  </div>
{% endblock %}
