{% extends "opensource_clubs/category_base.html" %}
{% load static compress wagtailcore_tags wagtailimages_tags %}

{% block body_class %}inverted{% endblock %}

{% block header_class %}white-header{% endblock %}

{% block jumbotron %}
  <div class="container jumbotron">
    <div class="row">
      {% include 'home/blocks/category_heading.html' with heading=page.heading %}
    </div>
  </div>
{% endblock %}

{% block content %}
  {% if page.get_children %}
    <div class="content inverted">
      <div class="container">
        <div class="card-deck">
          {% for club in page.get_children %}
            {% include 'opensource_clubs/club_card.html' with club=club.specific card_size='cl-4' %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
    <div class="content inverted">
      <div class="container">
        <div class="alert alert-warning text-center" role="alert">
          Nothing to to show yet! You need to add some Entity pages.
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
