{% extends "base.html" %}
{% load static coss_tags %}

{% block open_graph_meta %}
  <meta property="og:url" content="{{ self.full_url }}">
  <meta property="og:title" content="{{ self.title }}">
  <meta property="og:image" content="{% opengraph_image_or_static '/img/ossn.jpg' %}">
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/scss" href="{% static 'css/clubs.scss' %}">
{% endblock %}

{% block brand-logo %}
  <img src="{% static 'img/clubs-white.svg' %}" alt="mozilla">
{% endblock %}
