{% extends "opensource_clubs/category_base.html" %}
{% load static compress wagtailcore_tags wagtailimages_tags %}

{% compress css %}
  {% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/scss" href="{% static 'css/entity.scss' %}">
  {% endblock %}
{% endcompress %}

{% block body_class %}entity{% endblock %}

{% block jumbotron %}
  <div class="container jumbotron">
    <div class="row">
      <div class="col-md-12">
        <h2>
          {{ page.title }}
        </h2>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container content">
    <div class="card-deck">
      {% for club in page.get_children %}
        {% include 'opensource_clubs/club_card.html' with club=club.specific %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
