{% load static wagtailcore_tags wagtailimages_tags %}

<div class="card">
  <h4 class="card-header">
    <a href="{% pageurl club %}">
      {{ club.title }}
      <svg width="14px" height="15px" class="float-right" viewBox="0 0 14 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>icon / right-arrow-black</title>
        <defs></defs>
        <g id="icon-/-right-arrow-black" fill="#000000">
          <polygon id="right-arrow-black" points="0 8.3203125 0 6.6796875 10.15625 6.6796875 5.5078125 1.9921875 6.6796875 0.8203125 13.359375 7.5 6.6796875 14.1796875 5.46875 13.0078125 10.15625 8.3203125"></polygon>
        </g>
      </svg>
    </a>
  </h4>
  <div class="card-body">
    {% if club.get_first_image %}
      {% image club.get_first_image fill-370x200 %}
    {% endif %}
    {{ club.description|richtext }}
  </div>
</div>
