{% extends "opensource_clubs/category_base.html" %}
{% load static wagtailcore_tags wagtailimages_tags gravatar coss_tags %}

{% block open_graph_meta %}
  <meta property="og:url" content="{{ self.full_url }}">
  <meta property="og:title" content="{{ self.title }}">
  {% if page.get_first_image %}
    {% image page.get_first_image original as og_photo %}
    <meta property="og:image" content="{% absolutify_media og_photo.url %}">
  {% else %}
    <meta property="og:image" content="{% absolutify_static '/img/ossn.jpg' %}">
  {% endif %}
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/scss" href="{% static 'css/clubs.scss' %}">
  <link rel="stylesheet" type="text/scss" href="{% static 'css/entity.scss' %}">
{% endblock %}

{% block header_class %}white-header{% endblock %}

{% block jumbotron %}
  {% if page.get_first_image %}
    {% image page.get_first_image original as bg_photo %}
  {% endif %}
  <div class="jumbotron" data-bg-img="{{ bg_photo.url }}">
    <div class="container">
      <h3 class="highlight mt-4">{{ page.title }}</h3>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container content">
    <div class="row mt-4">
      <div class="col-md-6 ">
        {% if page.location %}
          <div class="d-inline-block mr-4">
            <img src="{% static 'img/icons/location-pin-black.svg' %}" alt="location" class="pr-2"> {{ page.location }}
          </div>
        {% endif %}
        {% if page.club_name %}
          <div class="d-inline-block mr-4">
            <img src="{% static 'img/icons/campus-black.svg' %}" alt="location" class="pr-2"> {{ page.club_name }}
          </div>
        {% endif %}
      </div>
      <div class="col-md-6 text-right">
        {% if page.contact_cta %}
          <a href="{{ page.contact_cta }}" class="btn btn-outline-secondary mt-3 mt-md-0">Contact</a>
        {% endif %}
      </div>
    </div>

    <div class="details mt-4">
      <div class="row">
        <div class="col-md-4">
          <div class="mb-4">
            {% if page.body_link %}
              <div class="mb-1 text-truncate">
                <div class="icon d-inline-block mr-2">
                  <img src="{% static 'img/icons/world-black.svg' %}" alt="web" class="img-fluid">
                </div>
                <img src="{% static 'img/icons/right-arrow-black.svg' %}" alt="web" class="pr-2">
                <a href="{{ page.body_link }}" target="_blank">{{ page.body_link }}</a>
              </div>
            {% endif %}
            {% if page.facebook_link %}
              <div class="mb-1 text-truncate">
                <div class="icon d-inline-block mr-2">
                  <img src="{% static 'img/icons/facebook-black-large.svg' %}" alt="web" class="img-fluid">
                </div>
                <img src="{% static 'img/icons/right-arrow-black.svg' %}" alt="web" class="pr-2">
                <a href="{{ page.facebook_link }}" target="_blank">{{ page.facebook_link }}</a>
              </div>
            {% endif %}
          </div>

          {% with tags=page.tags.all %}
            {% if tags.count %}
              <div class="tags">
                <div>
                  {% for tag in tags %}
                    <a href="{% slugurl 'tags' %}?tag={{ tag }}" class="badge badge-primary">
                      {{ tag }}
                    </a>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endwith %}
        </div>
        <div class="col-md-8 mt-3 mt-md-0">
          {{ page.body_text|richtext }}
        </div>
      </div>
    </div>

    <div class="row mt-5 mb-5">
      <div class="col-md-6">
        {% with members=page.members.all %}
          {% if members.count %}
            {% for profile in members %}
              {% include "opensource_clubs/profile.html" %}
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% if page.discourse_link %}
          <div class="mt-md-5">
            <a href="{{ page.discourse_link }}" class="btn btn-black discourse-link" target="_blank">Discourse Category</a>
          </div>
        {% endif %}
      </div>
      <div class="col-md-6 mt-3 mt-md-0">
        {% include 'home/blocks/image_gallery.html' with gallery=page.gallery_images %}
      </div>
    </div>
  </div>
{% endblock %}

{% block bottom_content %}
  {% include 'home/blocks/social_share.html' with entity_name='club' flag_email=page.flag_email %}
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/entity.js' %}"></script>
{% endblock %}
