{% extends "opensource_clubs/category_base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block header_class %}white-header{% endblock %}

{% block jumbotron %}
  <div class="container jumbotron club">
    <div class="breadcrumbs">
      <a href="{{ page.get_parent.url }}">
        <img class="ml-2" src="{% static 'img/icons/left-arrow-small.svg' %}" alt="back">
        <span>Open Source Clubs</span>
      </a>
    </div>

    <h2 class="highlight mt-4 club-title">{{ page.title }}</h2>
  </div>
{% endblock %}

{% block content %}
  <div class="container content">
    <div class="row mt-4">
      <div class="col-md-6">
        <span class="align-middle"></span>
      </div>
      <div class="col-md-6 text-right">
        <a class="btn btn-outline-primary">Edit Club Page</a>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-block">
        <div class="row mb-0">
          <div class="col-md-4">
            <div class="icon"><img src="{% static 'img/icons/world-black.svg' %}" alt="web"></div>
            <div class="icon"><img src="{% static 'img/icons/facebook-black-large.svg' %}" alt="web"></div>
            <div class="club-interests">
              <span>VR</span>
              <span>AR</span>
              <span>AI</span>
            </div>
          </div>
          <div class="col-md-8">
            {{ page.description|richtext }}
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-6">
        <div class="profile-listing clearfix">
          <div class="avatar">
            <img src="{% static 'img/harvey-milk.png' %}" alt="fullname">
          </div>
          <div class="profile-details ml-3 mt-3">
            Harvey Milk
            <div class="profile-title">Club Captain</div>
          </div>
        </div>
        <div class="profile-listing clearfix">
          <div class="avatar">
            <img src="{% static 'img/ansel-adams.jpg' %}" alt="fullname">
          </div>
          <div class="profile-details ml-3 mt-3">
            Ansel Adams
            <div class="profile-title">Regional Coordinator</div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-3 mt-md-0">
        <img src="{% static 'img/campus.jpg' %}" alt="{{ page.title }}" class="img-fluid">
      </div>
    </div>

    <div class="row mt-5 mb-5">
      <div class="col-md-6">
        <h4>
          <img src="{% static 'img/icons/docs-black.svg' %}" alt="resources">
          Club Resources
        </h4>
        <div class="row info-box">
          <div class="col-md-12">
            Add some club resources to help your club members get started and stay involved!
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h4>
          <img src="{% static 'img/icons/calendar-black.svg' %}" alt="calendar">
          Upcoming Events
        </h4>
        <div class="row info-box">
          <div class="col-lg-7">
            Plan your first event, a monthly team meeting is a great place to start!
          </div>
          <div class="col-lg-5 mt-2 mt-lg-0">
            <a href="#" class="btn btn-default">Manage Events</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
