{% extends "opensource_clubs/category_base.html" %}
{% load static wagtailcore_tags %}

{% block extra_css %}
  <link rel="stylesheet" type="text/scss" href="{% static 'css/clubs.scss' %}">
{% endblock %}

{% block header_class %}white-header{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block content %}
  <div class="content">
    <div class="container">
      <h4>Clubs tagged with {{ request.GET.tag }}</h4>

      <div class="card-deck">
        {% for entity in entities %}
          {% include 'opensource_clubs/club_card.html' with club=entity card_size='cl-4' %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
