{% extends "home/about_page.html" %}
{% load static wagtailcore_tags coss_tags %}

{% block open_graph_meta %}
  <meta property="og:url" content="{{ self.full_url }}">
  <meta property="og:title" content="{{ self.title }}">
  <meta property="og:image" content="{% absolutify_static '/img/ossn.jpg' %}">
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/scss" href="{% static 'css/clubs.scss' %}">
  <link rel="stylesheet" type="text/scss" href="{% static 'css/about.scss' %}">
{% endblock %}

{% block brand-logo %}
  <img src="{% static 'img/clubs-white.svg' %}" alt="mozilla">
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block extra_about %}
  <div class="faq">
    <div class="container">
      <h3>{{ page.title }}</h3>

      <div class="row">
        <div class="col-md-12">
          {% include_block page.faq %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
