{% extends "opensource_clubs/category_base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block brand-logo %}
  <img src="{% static 'img/clubs-black.svg' %}" alt="mozilla">
{% endblock %}

{% block jumbotron %}
  <div class="container jumbotron">
    <div class="row">
      <div class="col-md-5">
        {% include 'home/blocks/home_heading.html' %}
      </div>
      <div class="col-md-7 text-right hidden-sm-down">
        <img class="img-fluid" src="{% static 'img/laptop-illustration.svg' %}" alt="Open Source Clubs">
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content">
    <div class="container">
      {% if page.discourse %}
        <div class="row">
          <div class="col">
            <h6>Discourse Category: {{ page.discourse.name }}</h6>
          </div>
        </div>
      {% endif %}

      {% if page.get_featured %}
        <div class="card-deck">
          {% for club in page.get_featured %}
            {% include 'opensource_clubs/featured_club_card.html' with club=club.specific card_size='cl-6' %}
          {% endfor %}
        </div>
      {% endif %}

      {% if page.get_category_page %}
        <div class="text-center mt-4">
          <a href="{% pageurl page.get_category_page %}">
            See All Of Our Clubs
            <img class="ml-2" src="{% static 'img/icons/right-arrow-black.svg' %}" alt="more">
          </a>
        </div>
      {% endif %}

      {% if page.testimonial %}
        {% include 'home/blocks/testimonial.html' with testimonial=page.testimonial %}
      {% endif %}
    </div>

  </div>
{% endblock %}

{% block bottom_content %}
  {% if page.bottom_cta_title %}
    {% include 'home/blocks/bottom_banner.html' %}
  {% endif %}
{% endblock %}
