{% extends "opensource_clubs/category_base.html" %}
{% load static wagtailcore_tags wagtailimages_tags discourse %}

{% block brand-logo %}
  {% image page.logo original %}
{% endblock %}

{% block jumbotron %}
  <div class="container jumbotron">
    <div class="row">
      <div class="col-md-5">
        {% include 'home/blocks/home_heading.html' %}
      </div>
      <div class="col-md-7 text-right hidden-sm-down">
        {% image page.heading_image original class="img-fluid" %}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content">
    <div class="container">
      {% if page.discourse %}
        <div class="row">
          <div class="col">
            {% discourse_latest page.discourse %}
          </div>
        </div>
      {% endif %}

      {% with featured_items=page.get_featured %}
        {% if featured_items %}
          <div class="card-deck">
            {% for item in featured_items %}
              {% include 'opensource_clubs/featured_item.html' with item=item.specific card_size='cl-6' %}
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      {% if page.get_category_landing_page %}
        <div class="text-center mt-4">
          <a href="{% pageurl page.get_category_landing_page %}">
            See All Of Our Clubs
            <img class="ml-2" src="{% static 'img/icons/right-arrow-black.svg' %}" alt="more">
          </a>
        </div>
      {% endif %}

      {% if page.testimonial %}
        {% include 'home/blocks/testimonial.html' with testimonial=page.testimonial %}
      {% endif %}
    </div>

  </div>
{% endblock %}

{% block bottom_content %}
  {% if page.bottom_content_block %}
    {% include 'home/blocks/bottom_banner_content_block.html' %}
  {% endif %}
{% endblock %}
