.highlight {
    color: white;
    display: block;
    font-family: ZillaSlabHighLight;
    line-height: 1.1;
    margin-bottom: 20px;
    width: auto;

    @media (min-width: 992px) {
        max-width: 70%;
    }
}

.breadcrumbs {
    font-size: .9em;

    a {
        color: black;

        &:hover {
            text-decoration: none;
        }
    }
}

.btn-outline-primary {
    border-color: var(--border-color);
    color: white;
    padding: 0.5rem 3rem;

    &:hover,
    &:active,
    &:focus {
        background-color: var(--primary-color);
        border-color: var(--border-color);
        color: white;
    }
}

.btn-outline-secondary {
    border-color: black;
    color: black;
    padding: 0.5rem 3rem;

    &:hover,
    &:active,
    &:focus {
        background-color: var(--primary-color);
        border-color: var(--border-color);
        color: white;
    }
}

.btn-outline-default {
    border-color: var(--primary-color);
    color: var(--primary-color);
    padding: 0.5rem 3rem;

    &:hover,
    &:active,
    &:focus {
        background-color: var(--primary-color);
        border-color: var(--border-color);
        color: white;
    }
}

.btn-outline-danger {
    border-color: #ff8c8e;
    color: #fb8e92;
    padding: 0.5rem 3rem;

    &:hover,
    &:active,
    &:focus {
        background-color: white;
        border-color: #ff8c8e;
        color: #fb8e92;
    }
}

.badge-primary {
    background-color: var(--primary-color);
    border-radius: 0;
    font-size: 1em;
    padding: 0.5em;

    &[href]:hover,
    &[href]:focus,
    &[href]:active {
        background-color: var(--primary-color);
        color: black;
    }
}

.icon {

    img {
        height: 15px;
        width: 15px;
    }
}

.card-deck {
    justify-content: center;

    .card {
        align-self: flex-start;
        background-color: var(--card-bg-color);
        border: none;
        box-shadow: 7px 7px 0 0 var(--card-shadow-color);
        display: block;
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 1;
        margin-bottom: 20px;
        margin-right: 15px;
        text-decoration: none;
        width: 350px;

        &.cl-6 {
            width: 555px;

            .card-body > img {
                height: 300px;
                width: 540px;
            }
        }

        &.cl-4 {
            width: 360px;

            .card-body > img {
                height: 200px;
                width: 360px;
            }
        }

        &.cl-3 {
            width: 350px;

            .card-body > img {
                height: 200px;
                width: 360px;
            }
        }

        @media all and (max-width: 575px) {
            max-width: 100%;
        }

        &:not(:first-child) {
            margin-left: 0;
        }

        .card-header {
            background-color: var(--card-bg-color);
            border-bottom: none;
            min-height: 100px;

            a {
                color: black;
                font-weight: normal;

                &:hover {
                    text-decoration: none;
                }
            }

            svg {
                margin-top: 12px;
            }
        }

        .card-body {
            margin: 0 15px 15px 15px;
            overflow-x: hidden;

            .rich-text {
                color: dimgray;
                font-weight: normal;
                line-height: 22px;
                max-height: calc(22px * 4);
                overflow: hidden;
                padding-top: 20px;
                text-overflow: ellipsis;
                word-wrap: break-word;
            }

            .cta {
                font-family: OpenSans;
                margin-top: 25px;
                text-align: center;

                a {
                    border-bottom: 1px solid black;
                    display: inline-block;
                    padding-bottom: 5px;

                    &:hover {
                        border-bottom: 1px solid var(--primary-color);
                    }
                }
            }
        }

        &.card-mini {
            overflow: auto;

            .card-img {
                float: left;
                height: auto;
                margin: 1rem;
                max-width: 40%;

                @media all and (max-width: 768px) and (min-width: 575px) {
                    display: block;
                    float: none;
                    margin: 1rem auto 0 auto;
                }

                @media all and (max-width: 575px) {
                    margin: 1rem 2rem 1rem 1rem;
                    max-height: 110px;
                    max-width: 110px;
                }
            }

            .card-header {
                border-bottom: none;
                min-height: auto;
                overflow: hidden;
                padding: 0.75rem 0.75rem 0.75rem 0;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .card-body {
                overflow-x: auto;

                .rich-text {
                    max-height: calc(22px * 3);
                    min-height: auto;
                    padding: 0;
                }

                @media all and (max-width: 768px) and (min-width: 575px) {
                    padding: calc(1.25rem - 15px);
                }

                .cta {
                    display: block;
                    margin-top: 10px;
                    overflow: hidden;
                    text-align: left;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}

.testimonial {
    border: 3px solid var(--border-color);
    margin: 40px 60px;
    padding: 20px;

    @media (max-width: 575px) {
        margin: 40px 20px;
        padding: 10px;
    }

    div {
        padding-left: 0;
        padding-right: 0;
    }

    blockquote {
        line-height: 1.6;
        padding: 20px 60px 0 40px;

        @media (max-width: 575px) {
            line-height: 1.4;
            padding: 20px 10px 10px 10px;
        }

        &:before {
            color: var(--primary-color);
            content: '"';
            font-family: ZillaSlub;
            font-size: 12em;
            font-style: italic;
            font-weight: bold;
            left: -50px;
            line-height: 1;
            position: absolute;
            top: -20px;

            @media (max-width: 575px) {
                left: -60px;
                top: -50px;
            }
        }

        .rich-text {
            font-style: italic;
            margin-top: 10px;
        }

        p.quote-person {
            color: var(--primary-color);
            font-weight: bold;
        }
    }
}

.carousel {

    .carousel-item {

        img {
            height: 411px;
            object-fit: cover;
            width: 575px;

            @media (max-width: 767px) {
                height: auto;
                width: 100%;
            }
        }
    }

    .carousel-indicators {
        justify-content: flex-start;
        margin-bottom: 0;
        margin-left: 10px;

        li {
            height: 10px;
            max-width: 10px;
        }
    }
}

.social-share {
    border-top: 4px solid var(--primary-color);

    @media (max-width: 576px) {
        text-align: center;
    }

    h6 {
        display: inline-block;
        font-family: OpenSans;
        font-style: italic;
        margin-right: 25px;
        text-transform: uppercase;

        @media (max-width: 576px) {
            display: block;
        }
    }

    a.share {
        display: inline-block;
        margin-left: 25px;
        margin-right: 25px;
    }
}

.bottom-banner {
    background: var(--primary-color);
    background: linear-gradient(to left, var(--primary-color), var(--gradient-color));
    margin-top: 30px;
    padding: 2em;
    text-align: center;

    .row div {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: 768px) {

            .btn {
                margin-bottom: 20px;
            }
        }
    }

    p {
        color: white;
    }

    .btn {
        background-color: white;
        border: none;
        color: black;
        text-transform: uppercase;
        width: 250px;
    }
}

footer {
    background: black;
    color: white;
    display: block;
    height: 170px;
    padding: 35px;

    @media (max-width: 575px) {
        height: 300px;
    }

    .icon-container {
        display: inline-block;
        margin: 0 1em;

        .icon {
            align-items: center;
            display: flex;
            flex-shrink: 0;

            img {
                display: inline-block;
                margin-right: 10px;
                opacity: .8;
                width: 20px;
            }
        }
    }

    .footer-content {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        margin: 15px auto;
        max-width: 35.625rem;

        @media (max-width: 575px) {
            display: inline-block;
            text-align: center;
        }

        img {
            border-bottom: 0;
            border-right: 0.0625rem solid #666;
            margin-bottom: 0;
            margin-right: 1.25rem;
            padding: 0.8rem 1.25rem 0.8rem 0;
            width: 105px;

            @media (max-width: 575px) {
                border-bottom: 0.0625rem solid #666;
                border-right: none;
                margin-right: 0;
                padding: 0.8rem 0.8rem 1.25rem 0.8rem;
            }
        }

        p {
            font-size: .9em;
            margin-bottom: 0;
            text-align: left;
            width: calc(100% - 10.375rem);

            @media (max-width: 575px) {
                padding-top: 0.8rem;
                text-align: center;
                width: auto;
            }
        }
    }

    a {
        color: lightgray;
        text-decoration: none;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}
