:root {
    --body-bg-color: white;

    --card-bg-color: #fafaf9;
    --card-shadow-color: #e7e5e2;
    --card-button-bg-color: #fafaf9;
    --card-text-color: #4a4a4a;

    --primary-color: #558194;
    --border-color: #88d1f1;
    --gradient-color: #88d1f1;
    --input-bg-color: #446776;

    --nav-link-color: black;
}


