@import 'variables';
@import 'fonts';
@import 'components';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-bg-color);
    color: black;
    font-family: 'OpenSans Light', sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

.page-wrap {
    margin-bottom: calc(var(--footer-height) * -1);
    min-height: 100%;

    &:after {
        content: '';
        display: block;
        height: var(--footer-height);
    }
}

h1, h2, h3, h4 {
    font-family: ZillaSlab;
}

.breadcrumbs {
    font-size: .9em;

    a {
        color: black;

        &:hover {
            text-decoration: none;
        }
    }
}

header {
    background-color: var(--primary-color);

    .navbar-light {
        background-color: white;
        font-family: OpenSans;
        padding: 1rem;

        .navbar-toggler {

            .navbar-toggler-icon {
                background-image: url('/static/img/hamburger.svg');
                opacity: 0.5;
            }
        }

        .navbar-collapse {

            .nav-item {
                margin: 0 1.5rem;
                padding: 8px;

                a.nav-link {
                    color: var(--nav-link-color);
                    display: inline-block;
                    height: 30px;
                    padding: 4px 0 0 0;

                    &:hover,
                    &:active,
                    &:focus,
                    &.active {
                        border-bottom: 1px solid var(--nav-link-color);
                        color: var(--nav-link-color);
                    }
                }
            }
        }

        .navbar-brand {
            width: 0;

            img {
                width: 140px;
            }
        }
    }

    .clear-head {
        height: 100px;
    }

    .jumbotron {
        background-color: transparent;
        color: white;
        margin-bottom: 0;
        padding: 60px 15px 50px 15px;

        .rich-text {
            color: black;
        }

        .row {
            align-items: center;
        }
    }

    .lead {
        margin-top: 20px;
        padding-left: 0;

        .btn {
            border: 1px solid var(--border-color);
            color: white;

            &:hover {
                background-color: inherit;
            }
        }
    }
}

.content {
    padding: 30px 0;

    .nav-about {

        a.nav-link {
            font-weight: normal;
            margin: 0 3em;

            @media (max-width: 768px) {
                margin: 0 .3em;
            }
        }
    }
}
