:root {
  --footer-height: 170px; }
  @media (max-width: 575px) {
    :root {
      --footer-height: 300px; } }

@font-face {
  font-family: OpenSans;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensans-light.woff2") format("woff2"), url("../fonts/opensans-light.woff") format("woff"); }

@font-face {
  font-family: OpenSans;
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/opensans-semibold.woff2") format("woff2"), url("../fonts/opensans-semibold.woff") format("woff"); }

@font-face {
  font-family: OpenSans;
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/opensans-lightitalic.woff2") format("woff2"), url("../fonts/opensans-lightitalic.woff") format("woff"); }

@font-face {
  font-family: OpenSans;
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/opensans-semibolditalic.woff2") format("woff2"), url("../fonts/opensans-semibolditalic.woff") format("woff"); }

@font-face {
  font-family: ZillaSlab;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ZillaSlab-Regular.woff") format("woff"); }

@font-face {
  font-family: ZillaSlab;
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/ZillaSlab-Bold.woff") format("woff"); }

@font-face {
  font-family: ZillaSlab;
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/ZillaSlab-Italic.woff") format("woff"); }

@font-face {
  font-family: ZillaSlab;
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/ZillaSlab-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: ZillaSlabHighlight;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ZillaSlabHighlight-Regular.woff") format("woff"); }

@font-face {
  font-family: ZillaSlabHighlight;
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/ZillaSlabHighlight-Bold.woff") format("woff"); }

.highlight {
  color: black;
  display: block;
  font-family: ZillaSlabHighLight;
  line-height: 1.1;
  margin-bottom: 5px;
  width: auto; }

.breadcrumbs {
  font-size: .9em; }
  .breadcrumbs a {
    color: black; }
    .breadcrumbs a:hover {
      text-decoration: none; }

.card-deck .card {
  align-self: flex-start;
  background-color: #f4f4f4;
  border: none;
  box-shadow: 7px 7px 0 0 #e5e5e5;
  display: block;
  margin-bottom: 20px;
  max-width: 360px;
  text-decoration: none; }
  .card-deck .card:not(:first-child) {
    margin-left: 0; }
  .card-deck .card:hover {
    text-decoration: none; }
  .card-deck .card.active {
    display: inherit; }
  .card-deck .card .card-header {
    background-color: #f4f4f4;
    min-height: 100px; }
    .card-deck .card .card-header img {
      margin-top: 12px; }
  .card-deck .card .body {
    overflow-x: hidden; }
    .card-deck .card .body .rich-text {
      color: gray;
      min-height: 100px;
      padding: 20px 10px 0 20px;
      font-weight: normal; }

footer {
  background: black;
  color: white;
  display: block;
  height: var(--footer-height);
  padding: 35px; }
  footer .icon-container {
    display: inline-block;
    margin: 0 1em; }
    footer .icon-container .icon {
      align-items: center;
      display: flex;
      flex-shrink: 0; }
      footer .icon-container .icon img {
        display: inline-block;
        margin-right: 10px;
        opacity: .8;
        width: 20px; }
  footer .footer-content {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin: 15px auto;
    max-width: 35.625rem; }
    @media (max-width: 575px) {
      footer .footer-content {
        display: inline-block;
        text-align: center; } }
    footer .footer-content img {
      border-bottom: 0;
      border-right: 0.0625rem solid #666;
      margin-bottom: 0;
      margin-right: 1.25rem;
      padding: 0.8rem 1.25rem 0.8rem 0;
      width: 105px; }
      @media (max-width: 575px) {
        footer .footer-content img {
          border-bottom: 0.0625rem solid #666;
          border-right: none;
          margin-right: 0;
          padding: 0.8rem 0.8rem 1.25rem 0.8rem; } }
    footer .footer-content p {
      font-size: .9em;
      margin-bottom: 0;
      text-align: left;
      width: calc(100% - 10.375rem); }
      @media (max-width: 575px) {
        footer .footer-content p {
          padding-top: 0.8rem;
          text-align: center;
          width: auto; } }
  footer a {
    color: lightgray;
    text-decoration: none; }
    footer a:hover {
      color: white;
      text-decoration: none; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background-color: white;
  color: black;
  font-size: 16px;
  line-height: 1.4;
  font-family: OpenSans, sans-serif; }

.page-wrap {
  min-height: 100%;
  margin-bottom: calc(var(--footer-height) * -1); }
  .page-wrap:after {
    content: '';
    display: block;
    height: var(--footer-height); }

h1, h2, h3, h4 {
  font-family: ZillaSlab; }

.breadcrumbs {
  font-size: .9em; }
  .breadcrumbs a {
    color: black; }
    .breadcrumbs a:hover {
      text-decoration: none; }

.icon img {
  width: 15px;
  height: 15px; }

header {
  background-color: #558194; }
  header .navbar-light {
    background-color: white;
    height: 60px; }
    header .navbar-light.height-fix {
      height: auto; }
    header .navbar-light .navbar-nav a.nav-link {
      color: black;
      font-weight: bold; }
    header .navbar-light .navbar-brand img {
      width: 120px; }
  header .jumbotron {
    background-color: transparent;
    padding: 60px 15px 50px 15px;
    margin-bottom: 0;
    color: white; }
    header .jumbotron h3 {
      font-family: ZillaSlabHighLight;
      color: white;
      width: auto;
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      line-height: 1.1; }
    header .jumbotron .row {
      align-items: center; }
  header .lead {
    margin-top: 20px;
    padding-left: 0; }
    header .lead .btn {
      border: 1px solid #88d1f1;
      color: white; }
      header .lead .btn:hover {
        background-color: inherit; }

.content {
  margin: 30px auto; }
  .content .testimonial {
    border: 3px solid #88d1f1;
    margin: 40px 60px;
    padding: 20px; }
    @media (max-width: 575px) {
      .content .testimonial {
        margin: 40px 20px;
        padding: 10px; } }
    .content .testimonial div {
      padding-left: 0;
      padding-right: 0; }
    .content .testimonial blockquote {
      padding: 20px 60px 0 40px;
      line-height: 1.6; }
      @media (max-width: 575px) {
        .content .testimonial blockquote {
          padding: 20px 10px 10px 10px;
          line-height: 1.4; } }
      .content .testimonial blockquote div {
        margin-top: 10px;
        font-weight: bold; }
