{% extends "page.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block jumbotron %}
  <div class="container jumbotron">
    <h3>
      {{ page.homepage.header_heading }}
    </h3>
    <h3>
      {{ page.homepage.header_subheading }}
    </h3>
    <div class="lead col-sm-6">
      {{ page.homepage.header_text|safe }}
    </div>
    <div class="lead">
      <a href="{{ page.homepage.header_link }}" class="btn btn-outline-primary">Want to join our newsletter?</a>
    </div>
  </div>
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-md-6">
      <h4>Features Groups</h4>
    </div>
    <div class="col-md-6 text-right">
      <a class="btn btn-outline-primary">Register a Group</a>
    </div>
  </div>

  <div class="row group-types">
    <div class="col-sm-4">
      <div href="#" class="card">
        <h4 class="card-header">Open Source <img class="float-right mt-2" src="/static/img/right-arrow-black.svg" alt="more"></h4>
        <img class="img-fluid" src="/static/img/top-1.jpg" alt="Card image cap">
        <div class="card-block">
          <p class="card-text">
            Students with a passion for technology working together to build the open web
            of University and College campuses.
          </p>
          <a href="/clubs/" class="btn btn-primary">Find An Open Source</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <h4 class="card-header">Category Two Group <img class="float-right mt-2" src="/static/img/right-arrow-black.svg" alt="more"></h4>
        <img class="img-fluid" src="/static/img/top-2.jpg" alt="Card image cap">
        <div class="card-block">
          <p class="card-text">
            Share Mozilla's mission to ensure the Internet is a global
            public resource, open and accessible to all.
          </p>
          <a href="#" class="btn btn-primary">Find A Category Two Club</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <h4 class="card-header">Category Three Group <img class="float-right mt-2" src="/static/img/right-arrow-black.svg" alt="more"></h4>
        <img class="img-fluid" src="/static/img/top-3.jpg" alt="Card image cap">
        <div class="card-block">
          <p class="card-text">
            Share Mozilla's mission to ensure the Internet is a global
            public resource, open and accessible to all.
          </p>
          <a href="#" class="btn btn-primary">Find A Category Three Club</a>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    See All Of Our Clubs <img class="ml-2" src="/static/img/right-arrow-black.svg" alt="more">
  </div>

  <div class="row testimonial">
    <div class="col-sm-2">

      <img class="img-fluid" src="/static/media/{{ page.homepage.testimonial.photo }}" alt="testimony">
    </div>
    <div class="col-sm-10">
      <blockquote>
        {{ page.homepage.testimonial.quote|safe }}
      </blockquote>
    </div>
  </div>
{% endblock %}
