{% extends "page.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block jumbotron %}
  <div class="container jumbotron">
    <h3>
      {{ page.homepage.header_heading }}
    </h3>
    <h3>
      {{ page.homepage.header_subheading }}
    </h3>
    <p class="lead">
      {{ page.homepage.header_text|safe }}
    </p>
    <p class="lead">
      <a href="{{ page.homepage.header_link }}">Signup Now!</a>
    </p>
  </div>
{% endblock %}

{% block main %}
  <h3>Types of Clubs</h3>

  <div class="row club-types">
    <div class="col-md-6">
      <img class="img-responsive" src="/static/img/opensource.jpg" alt="">

      <h4>Open Source</h4>

      <div>
        Students with a passion for technology working together to build the open web
        of University and College campuses.
      </div>
    </div>

    <div class="col-md-6">
      <img class="img-responsive" src="/static/img/weblit.jpg" alt="">

      <h4>Web Literacy</h4>

      <div>
        Share Mozilla's mission to ensure the Internet is a global
        public resource, open and accessible to all.
      </div>
    </div>
  </div>

  <div class="row testimonial">
    <div class="col-md-2">
      <img class="img-responsive" src="/static/img/asisipho.jpg" alt="">
    </div>
    <div class="col-md-10">
      <blockquote>
        I want to teach the girls how to code. Right now they know the basics but there's a lot of interest in developing
        these skills further. Therefore I am working with my school to use study time as an opportunity to hold club
        activities and events so to have a learning space.<br>
        - Asisipho, Club Captain, South Africa
      </blockquote>
    </div>
  </div>
{% endblock %}
