{% extends "page.html" %}
{% load i18n staticfiles %}

{% block meta_title %}{% trans "Club Registration" %}{% endblock %}
{% block title %}{% trans "Club Registration" %}{% endblock %}

{% block main %}
  <h3 class="highlight">Club Registration</h3>

  <div class="row club-registration">
    <div class="col-md-4">
      <ul>
        <li class="active" id="reg-club-type-nav">
          Club Type
        </li>
        <li id="reg-club-info-nav">
          Club Info
        </li>
        <li id="reg-club-your-nav">
          Your Info
        </li>
      </ul>
    </div>

    <div class="col-md-8">
      <form>
        <div class="card active" id="reg-club-type-tab">
          <div class="card-block">
            <h4>Which type of club is this?</h4>
            <fieldset class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="club-type" id="club-type-1" value="1" checked>
                  Open Source
                </label>
              </div>
              <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="club-type" id="club-type-2" value="2">
                  Web Literacy
                </label>
              </div>
              <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="club-type" id="club-type-3" value="3">
                  Women &amp; Children
                </label>
              </div>
            </fieldset>

            <h4>Is this a new club or an already existing club?</h4>
            <fieldset class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="club-new" id="club-new-1" value="1" checked>
                  New Club
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="club-new" id="club-new-2" value="2">
                  Existing Club
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="club-new" id="club-new-3" value="3">
                  Not Sure
                </label>
              </div>
            </fieldset>
            <button href="#" class="btn btn-primary" id="reg-club-type">Next</button>
          </div>
        </div>
      </form>

      <form>
        <div class="card" id="reg-club-info-tab">
          <div class="card-block">
            <h4>Club Information</h4>
            <div class="form-group">
              <label class="sr-only" for="club-name">Club Name</label>
              <input type="text" class="form-control" id="club-name" placeholder="Club Name">
            </div>
            <div class="form-group">
              <label class="sr-only" for="club-description">Club Description</label>
              <textarea class="form-control" id="club-description" rows="3" placeholder="Club Description"></textarea>
            </div>
            <div class="form-group">
              <label class="sr-only" for="club-location">Location Address</label>
              <input type="text" class="form-control" id="club-location" placeholder="Location Address">
            </div>
            <div class="form-group">
              <label class="sr-only" for="club-meetingplace">Meeting Place</label>
              <input type="text" class="form-control" id="club-meetingplace" placeholder="Meeting Place">
            </div>

            <h4>Club Page Privacy Settings</h4>
            <fieldset class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="club-privacy" id="club-privacy-1" value="1" checked>
                  Public Visibility
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="club-privacy" id="club-privacy-2" value="2">
                  Anyone Can Join
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="club-privacy" id="club-privacy-3" value="3">
                  Private &amp; Closed
                </label>
              </div>
            </fieldset>

            <button class="btn btn-primary" id="reg-club-info">Next</button>
          </div>
        </div>
      </form>

      <form>
        <div class="card" id="reg-your-info-tab">
          <div class="card-block">
            <h4>Your information</h4>
            <div class="form-group">
              <label class="sr-only" for="your-name">Full Name</label>
              <input type="text" class="form-control" id="your-name" placeholder="Full Name">
            </div>
            <div class="form-group">
              <label class="sr-only" for="your-location">Location</label>
              <input type="text" class="form-control" id="your-location" placeholder="Location">
            </div>
            <div class="form-group">
              <label class="sr-only" for="your-email">Email</label>
              <input type="text" class="form-control" id="your-email" placeholder="Email">
            </div>
            <div class="form-group">
              <label class="sr-only" for="your-student-year">Student Year</label>
              <input type="text" class="form-control" id="your-student-year" placeholder="Student Year">
            </div>
            <div class="form-group">
              <label class="sr-only" for="your-occupation">Occupation</label>
              <input type="text" class="form-control" id="your-occupation" placeholder="Occupation">
            </div>
            <div class="form-group">
              <label class="sr-only" for="your-github">Github Username</label>
              <input type="text" class="form-control" id="your-github" placeholder="Github Username">
            </div>
            <hr>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="tos" id="tos" value="1" checked>
                I agree to <a href="https://www.mozilla.org/privacy/websites/" target="_blank">these terms</a>
              </label>
            </div>
            <button class="btn btn-primary" id="reg-your-info">Submit</button>
          </div>
        </div>
      </form>

    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static "js/register.js" %}"></script>
{% endblock %}
