{% extends "index.html" %}
{% load i18n %}

{% block meta_title %}{{ page.singlecolumn.meta_title }}{% endblock %}
{% block title %}{{ page.singlecolumn.title }}{% endblock %}

{% block jumbotron %}
  <div class="container jumbotron">
    <h3>
      {{ page.singlecolumn.header_heading }}
    </h3>
    <p class="lead">
      {{ page.singlecolumn.header_text|safe }}
    </p>
  </div>
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-md-12">
      <div class="section">
        {{ page.singlecolumn.content|safe }}
      </div>
    </div>
  </div>
{% endblock %}
