@font-face {
    font-family: OpenSans;
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/opensans-light.woff2') format('woff2'),
         url('../fonts/opensans-light.woff') format('woff');
}

@font-face {
    font-family: OpenSans;
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/opensans-semibold.woff2') format('woff2'),
         url('../fonts/opensans-semibold.woff') format('woff');
}

@font-face {
    font-family: OpenSans;
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/opensans-lightitalic.woff2') format('woff2'),
         url('../fonts/opensans-lightitalic.woff') format('woff');
}

@font-face {
    font-family: OpenSans;
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/opensans-semibolditalic.woff2') format('woff2'),
         url('../fonts/opensans-semibolditalic.woff') format('woff');
}

@font-face {
    font-family: ZillaSlab;
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ZillaSlab-Regular.woff') format('woff');
}

@font-face {
    font-family: ZillaSlab;
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/ZillaSlab-Bold.woff') format('woff');
}

@font-face {
    font-family: ZillaSlab;
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/ZillaSlab-Italic.woff') format('woff');
}

@font-face {
    font-family: ZillaSlab;
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/ZillaSlab-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: ZillaSlabHighlight;
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ZillaSlabHighlight-Regular.woff') format('woff');
}

@font-face {
    font-family: ZillaSlabHighlight;
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/ZillaSlabHighlight-Bold.woff') format('woff');
}

:root {
    --main-color: rgba(86, 128, 146, 1);
    --secondary-color: rgba(135, 207, 239, 1);
}

.clubs {
    --main-color: rgba(250, 186, 47, 1);
    --secondary-color: rgba(254, 228, 56, 1);

    .nav-invert {
        background-color: var(--main-color);

        .navbar-right {

            a.nav-link {
                color: white;
            }
        }
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: white;
    color: black;
    font-size: 16px;
    line-height: 1.4;
    font-family: OpenSans, sans-serif;
}

h1, h2, h3, h4 {
    font-family: ZillaSlab;
}

.highlight {
    font-family: ZillaSlabHighLight;
    color: black;
    width: auto;
    display: block;
    margin-bottom: 5px;
    line-height: 1.1;
}

.img-responsive {
    display: block;
    max-width: 100%;
}

header {
    background-color: var(--main-color);;

    .navbar-light {
        background-color: white;
        height: 60px;

        &.height-fix {
            height: auto;
        }

        .navbar-toggler {
        	border-color: rgba(0, 0, 0, .1);
            color: black;
        }

        .navbar-nav {

            a.nav-link {
                color: black;
                font-weight: bold;
            }
        }

        .navbar-right {

            a.nav-link {
                display: block;
                padding: 0.5em 1em;
                color: var(--main-color);

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .navbar-brand {

            .category-logo {
                padding-top: 20px;
                width: 80px;
            }

            img {
                width: 120px;
            }
        }
    }

    .jumbotron {
        background-color: transparent;
        padding: 60px 15px 50px 15px;
        margin-bottom: 0;
        color: white;

        h3 {
            font-family: ZillaSlabHighLight;
            color: white;
            width: auto;
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            line-height: 1.1;
        }

        .row {
            align-items: center;
        }
    }

    .lead {
        margin-top: 20px;
        padding-left: 0;

        .btn {
            border: 1px solid var(--secondary-color);
            color: white;

            &:hover {
                background-color: inherit;
            }
        }
    }
}

.content {
    margin-top: 30px;

    .row {
        margin-bottom: 40px;
    }

    h4 {
        padding-top: 10px;
    }

    .card {
        background-color: #f4f4f4;
        border: none;
        box-shadow: 7px 7px 0px 0px rgba(231,231,231,1);

        &.active {
            display: inherit;
        }

        .btn {
            background-color: rgba(231, 231, 231, 1);
            color: black;
            font-weight: bold;
            border: none;
            width: 100%;
        }
    }

    .group-types {

        .card {
            background-color: #f4f4f4;
        }
    }

    .testimonial {
        border: 3px solid var(--secondary-color);
        margin: 40px 60px;
        padding: 20px;

        div {
            padding-left: 0;
            padding-right: 0;
        }

        blockquote {
            padding: 20px 60px 0 40px;
            line-height: 1.6;

            div {
                margin-top: 10px;
                font-weight: bold;
            }
        }
    }

    .section {
        margin-bottom: 30px;
    }

    .club-registration {
        margin-top: 30px;

        ul {
            padding-left: 0;
            padding-right: 60px;

            li {
                font-weight: bold;
                list-style-position: outside;
                list-style-type: none;
                color: lightgray;
                border-bottom: 1px solid lightgray;
                padding: 5px 0;

                &.active {
                    color: black;
                    border-bottom-color: black;
                }
            }
        }

        .card {
            margin-bottom: 30px;
            display: none;
        }
    }

    .ack {
        margin: 4rem;

        .highlight {
            max-width: 340px;
        }

        .card-block {

            div {
                border-bottom: 1px solid lightgray;
                line-height: 0.1em;
                color: gray;
                margin: 20px 0;

                span {
                    background-color: #f4f4f4;
                    padding: 0 15px;
                }
            }

            .btn {
                background-color: transparent;
                border: 1px solid black;
            }
        }
    }

    .breadcrumbs {
        font-size: .9em;

        a {
            color: black;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .info-muted {
        color: gray;
    }
}

footer {
    display: block;
    height: auto;
    background: black;
    color: white;
    padding: 35px;

    .icon-container {
        display: inline-block;
        margin: 0 1em;

        .icon {
            display: flex;
            align-items: center;
            flex-shrink: 0;

            img {
                width: 20px;
                margin-right: 10px;
                display: inline-block;
                opacity: .8;
            }
        }
    }

    .footer-content {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: center;
        max-width: 35.625rem;
        margin: 15px auto;

        img {
            border-bottom: 0;
            border-right: 0.0625rem solid #666;
            padding: 0.8rem 1.25rem 0.8rem 0;
            margin-bottom: 0;
            margin-right: 1.25rem;
            width: 105px;
        }

        p {
            text-align: left;
            width: calc(100% - 10.375rem);
            margin-bottom: 0;
            font-size: .9em;
        }
    }

    a {
        color: lightgray;
        text-decoration: none;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}

@media (max-width: 995px) {

    header {

        .navbar-light {

            .navbar-brand {

                .category-logo {
                    padding-top: 0;
                }
            }
        }
    }

    .lead {
        width: 100%;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.6em;
    }

    .group-types > div {
        margin-bottom: 15px;
    }
}


@media (max-width: 575px) {

    .container {
        width: 100%;
        max-width: 100%;
    }

    .content {

        .testimonial {
            margin: 40px 20px;
            padding: 10px;

            blockquote {
                padding: 20px 10px 10px 10px;
                line-height: 1.4;
            }
        }

        .ack {
            margin: 1rem;

            .highlight {
                max-width: 340px;
            }

            .card-block {

                div {
                    border-bottom: 1px solid lightgray;
                    line-height: 0.1em;
                    color: gray;
                    margin: 20px 0;

                    span {
                        background-color: #f4f4f4;
                        padding: 0 15px;
                    }
                }

                .btn {
                    background-color: transparent;
                    border: 1px solid black;
                }
            }
        }
    }

}
