{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}about{% endblock %}

{% block jumbotron %}
  <div class="jumbotron">
    <div class="container">
      {{ page.about.header_text|richtext }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content">

    <nav id="nav-about" class="nav nav-about justify-content-center">
      {% if page.about.body_text %}
        <a class="nav-link" href="#body">{{ page.about.body_title }}</a>
      {% endif %}
      {% if page.about.info_text %}
        <a class="nav-link" href="#info">{{ page.about.info_title }}</a>
      {% endif %}
      {% block extra_about_nav %}
      {% endblock %}
    </nav>

    {% if page.about.body_text %}
      <div id="body" class="body">
        <div class="well">
          {{ page.about.body_text|richtext }}
        </div>
      </div>
    {% endif %}

    {% if page.about.info_text %}
      <div id="info" class="info">
        <h4>{{ page.about.info_title }}</h4>
        {{ page.about.info_text|richtext }}
      </div>
    {% endif %}

    {% block extra_about %}
    {% endblock %}

    {% if page.about.bottom_cta_title %}
      <div class="bottom-cta">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <a href="{{ page.about.bottom_cta1_link }}" class="btn btn-default align-middle">{{ page.about.bottom_cta1_text }}</a>
            </div>
            <div class="col-md-4">
              <h4>{{ page.about.bottom_cta_title }}</h4>
              <p>{{ page.about.bottom_cta_text }}</p>
            </div>
            <div class="col-md-4">
              <a href="{{ page.about.bottom_cta2_link }}" class="btn btn-default">{{ page.about.bottom_cta2_text }}</a>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

  </div>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/clubs_about.js' %}"></script>
{% endblock %}
