{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}about{% endblock %}

{% block jumbotron %}
  <div class="jumbotron">
    <div class="container">
      {{ page.about.header_text|richtext }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content">

    <nav id="nav-about" class="nav nav-about justify-content-center">
      {% if page.about.body_title and page.about.body_text %}
        <a class="nav-link" href="#body">{{ page.about.body_title }}</a>
      {% endif %}
      {% if page.about.info_title and page.about.info_text %}
        <a class="nav-link" href="#info">{{ page.about.info_title }}</a>
      {% endif %}
      {% if page.about.details_title and page.about.details %}
        <a class="nav-link" href="#details">{{ page.about.details_title }}</a>
      {% endif %}
      {% if page.about.collaborators_title %}
        <a class="nav-link" href="#collaborators">{{ page.about.collaborators_title }}</a>
      {% endif %}
    </nav>

    {% if page.about.body_text %}
      {% if page.about.body_image %}
        {% image page.about.body_image original as bg_photo %}
      {% endif %}
      {% with default_bg_image='/static/img/alex-wong.jpg' %}
        <div id="body" class="body" data-bg-img="{% if bg_photo.url %}{{ bg_photo.url }}{% else %}{{ default_bg_image }}{% endif %}">
          <div class="body-image"></div>
          <div class="well">
            {% if page.about.body_title %}
              <h4>{{ page.about.body_title }}</h4>
            {% endif %}
            {{ page.about.body_text|richtext }}
          </div>
        </div>
      {% endwith %}
    {% endif %}

    {% if page.about.info_text %}
      <div id="info" class="info">
        {% if page.about.info_title %}
          <h4>{{ page.about.info_title }}</h4>
        {% endif %}
        {{ page.about.info_text|richtext }}
      </div>
    {% endif %}

    {% if page.about.details %}
      <div id="details" class="details">
        <div class="container">
          {% if page.about.details_title %}
            <h4>{{ page.about.details_title }}</h4>
          {% endif %}
          <div class="row">
            <div class="col-md-3">
              <nav id="nav-details" class="nav nav-details flex-column">
                {% for block in page.about.details %}
                  <a class="nav-link {% if not forloop.counter0 %}active{% endif %}" href="#details-{{ forloop.counter0 }}">{{ block.value.title }}</a>
                {% endfor %}
              </nav>
            </div>
            <div class="col-md-8 ml-auto well">
              {% for block in page.about.details %}
                <div class="nav-content {% if not forloop.counter0 %}active{% endif %}" id="details-{{ forloop.counter0 }}">
                  {{ block.value.text }}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% if page.about.collaborators_title %}
      <div id="collaborators" class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <h4>{{ page.about.collaborators_title }}</h4>

            {{ page.about.collaborators_text|richtext }}
          </div>
          <div class="col-md-6 text-right">
            <a href="{{ page.about.collaborators_cta_link }}" class="cta">{{ page.about.collaborators_cta_text }}</a>
          </div>
        </div>
        <div class="card-deck mt-4">
          {% for block in page.about.collaborators %}
            {% include_block block with card_size='cl-4' %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if page.about.optional_text_block_title or page.about.optional_text_block %}
      <div id="optional-text-block" class="container">
        <div class="row">
          {% if page.about.optional_text_block_title %}
            <h4>{{ page.about.optional_text_block_title }}</h4>
          {% endif %}
          <div class="row">
            <div class="col-md-12 ml-auto well">
              {% include_block page.about.optional_text_block %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% block extra_about %}
    {% endblock %}

  </div>
{% endblock %}

{% block bottom_content %}
  {% if page.about.bottom_content_block %}
    {% include 'home/blocks/bottom_banner_content_block.html' with page=page.about %}
  {% endif %}
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/about.js' %}"></script>
{% endblock %}
