@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/opensans-light.woff2') format('woff2'),
        url('../fonts/opensans-light.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/opensans-semibold.woff2') format('woff2'),
        url('../fonts/opensans-semibold.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/opensans-lightitalic.woff2') format('woff2'),
        url('../fonts/opensans-lightitalic.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/opensans-semibolditalic.woff2') format('woff2'),
        url('../fonts/opensans-semibolditalic.woff') format('woff');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: white;
    color: black;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #b0b3e8;
}

header a {
    color: black;
}

.navbar-right a {
    display: block;
    padding: 0.5em 1em;
}

.navbar-right a:hover {
    text-decoration: none;
}

.img-responsive {
    display: block;
    max-width: 100%;
}

.navbar-brand img {
    width: 200px;
    margin-left: 15px;
}

.navbar-collapse {
    padding-top: 5px;
}

.navbar-inverse .navbar-nav .nav-link {
    color: black;
}

.jumbotron {
    background-color: transparent;
    padding: 30px 15px 20px 15px;

}

.jumbotron h2 {
    background-color: black;
    color: #b0b3e8;
    width: auto;
    display: inline-block;
    margin-bottom: 5px;
    padding: 3px;
    font-weight: bold;
}

.lead {
    margin-top: 10px;
    width: 50%;
}

h4 {
    padding-top: 10px;
}

.row {
    margin-bottom: 40px;
}

.testimonial {
    border-top: 4px solid black;
    margin-left: 0;
    margin-right: 0;
}

.testimonial > div {
    padding-left: 0;
    padding-right: 0;
}

.testimonial blockquote {
    padding: 20px;
    font-size: 1.4em;
}

footer {
    display: block;
    height: auto;
    background: black;
    color: white;
    padding: 35px;
}

footer .icon-container {
    display: inline-block;
    margin: 0 1em;
}

footer .icon {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

footer img {
    width: 20px;
    margin-right: 10px;
    display: inline-block;
    opacity: .8;
}

.footer-content {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	justify-content: center;
	max-width: 35.625rem;
	margin: 15px auto;
}

.footer-content img {
	border-bottom: 0;
	border-right: 0.0625rem solid #666;
	padding: 0.8rem 1.25rem 0.8rem 0;
	margin-bottom: 0;
	margin-right: 1.25rem;
    width: 105px;
}

.footer-content p {
	text-align: left;
	width: calc(100% - 10.375rem);
	margin-bottom: 0;
    font-size: .9em;
}

footer a {
    color: lightgray;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: none;
}


@media (max-width: 768px) {

    .navbar-brand img {
        width: 150px;
        margin-left: 0;
    }

    .lead {
        width: 100%;
    }

    h2 {
        font-size: 2.5em;
    }

    .club-types > div {
        margin-bottom: 15px;
    }

}
