html, body {
	margin: 0;
	padding: 0;
}

body {
	padding: 0 10em;
}

header, footer {
	display: block;
	background: black;
	color: white;
    height: 5em;
    overflow: none;
}

header img, footer img {
	height: 100%;
}

footer {
	padding: 1em 0 0.7em 1em;
}
