{% load static wagtailcore_tags wagtailimages_tags %}

<div class="card card-mini {{ card_size }}">
  {% if value.image %}
    {% image value.image fill-180x180 class="rounded-circle card-img" %}
  {% else %}
    <img src="{% static 'img/clubs-illustration.svg'%}" class="rounded-circle card-img" alt="{{ value.title }}">
  {% endif %}
  <h5 class="card-header">{{ value.title }}</h5>
  <div class="card-body">
    {{ value.text }}
    <a href="{{ value.link }}" target="_blank" class="cta"
       data-toggle="tooltip" data-placement="bottom" title="{{ value.link_title }}">{{ value.link_title }}</a>
  </div>
</div>
